main {
    margin: 110px 0px 30px 0px;
}

a,
a:hover {
    color: black
}

.profile-icon {
    border-radius: 50%;
    max-height: 30px;
    max-width: 30px;
}

/* --------------------
:: Navbar
-------------------- */

#mainNav {
    border-bottom: 1px solid #e9ecef;
}

#mainNav .navbar-brand {
    font-size: 25px
}

#mainNav .navbar-brand,
#mainNav .navbar-toggler,
#mainNav .navbar-nav > li.nav-item > a,
.dropdown-item {
    font-weight: 800;
    color: #343a40;
}

#mainNav .navbar-toggler,
#mainNav .navbar-nav > li.nav-item > a {
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

#mainNav .navbar-toggler {
    padding: 13px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    top: 95%;
}

.dropdown > .nav-link:active {
    pointer-events: none;
}

/* --------------------
:: Footer
-------------------- */

footer {
    border-top: 1px solid #e9ecef;
}

.footer-items,
.footer-items a,
.footer-items:hover,
.footer-items a:hover {
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-items .footer-logos {
    margin: 25px 60px 25px 60px;
}

/* --------------------
:: Sidebar
-------------------- */

.blog-sidebar {
    margin-bottom: 0px 0px 50px;
}

.single-widget-area {
    margin-bottom: 30px;
}

.widget-title > h6 {
    background: #000;
    color: #ffffff;
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 2px;
    margin-bottom: 20px;
    border-radius: 0.25rem !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    text-align: center;
}

.sidebar {
    text-align: center;
}

.sidebar-about-icon {
    height: 150px;
    width: 150px;
    margin: 20px 0px;
    border-radius: 50%;
}

.sidebar p {
    color: #51545f;
    padding: 20px;
    width: 100%;
}

/* --------------------
:: Blog Section
-------------------- */

.posts-container {
    flex-basis: 50%;
    margin-right: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ebebeb;
}

.post-preview-content {
    flex-basis: 50%;
    margin: 0px 10px 30px;
}

.post-preview-pics {
    max-width: 100%;
    max-height: 100%
}

.post-preview-pics img {
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 15px;
    height: 223px;
    width: 338px;
    flex-basis: 50%;
}

.post-preview-title {
    font-weight: 600;
    text-align: center;
    padding-right: 15px;
    padding: 0px 10px;
    margin: 5px 0;
    color: #232d37;
    text-transform: capitalize;
    transition-duration: 500ms;
}

.post-meta {
    padding-left: 10px;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.post-preview-date,
.post-preview-author {
    margin-right: 30px;
    position: relative;
    color: black;
    font-weight: 500;
    font-size: 14px;
    z-index: 1;
}

.post-preview-author:after {
    width: 2px;
    height: 60%;
    content: '';
    position: absolute;
    top: 20%;
    right: -14px;
    background-color: #000;
    z-index: 2;
}

.post-preview-author a {
    padding-left: 6px;
    color: black;
    font-weight: 900;
}

.post-preview-paragraph {
    padding: 10px 15px;
    height: 115px;
    max-height: 100%;
    max-width: 100%;
    color: #51545f;
}


/** Read button **/
.button-container,
.single-button-container {
    margin: 17px 15px;
    text-align: center;
}

.button-container {
    padding-right: 35px;
}

.single-button-container {
    padding: 0px 35px;
}

.blog-button,
.create-button,
.update-button,
.delete-button {
    text-align: center;
    border-radius: 18px;
    border: 1px solid #000;
}

.blog-button,
.create-button {
    padding: 10px 55px;
}

.update-button,
.delete-button {
    padding: 10px 20px;
    margin: 0px 15px;
    color: white;
}

.blog-button {
    color: black;
}

.create-button {
    background-color: green;
}

.update-button {
    background-color: dodgerblue;
}

.delete-button {
    background-color: red;
}

.blog-button:hover {
    color: #ffffff;
    background-color: #000
}

.create-button,
.update-button,
.delete-button,
.create-button:hover,
.update-button:hover,
.delete-button:hover {
    color: white;
}
